*{
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #EEE;
}

header.is-active {
  height: 100%;
  width: 100%;
  position:absolute;
  .container {
    margin-left: 50px;
    transform: translateY(250%);
    vertical-align:middle;
  }
  div.social-links {
    display:block;
  }
  .nav-menu {
    float:none;
  }
  .nav-menu ul li {
    display: inline;
  }
  h2 {display:block}
}

header {
  background-color: #9fdad0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  h1, .nav-menu {
    display:inline-block;
  }
  .nav-menu {
    float:right;
  }
  .nav-menu ul li {
    display: inline;
  }
  h2 { display: none; }
  div.social-links {
    display: none;
  } 

}

section {
  display: none;
}

section.is-active{
  display: block;
}