:root {
  --head-height: 40px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; 
  /* vertical-align: middle; */
}

header h1, .nav-menu, .social-links {
  a:hover {
    color: cadetblue;
    text-decoration: underline;
    text-decoration-color: aliceblue;
  } 
}

body {
  background-color: #EEE;
}

header.is-active {
  height: 100%;
  width: 100%;
  position: absolute;
  .container {
    margin-left: 50px;
    padding-top: 15%;
    display: grid;
  }
  h2, div.social-links { display: block }
  .nav-menu { 
    float: none;
    li { :hover, .current { background-color: transparent }} 
  }
}

header {
  /* padding: 10px; */
  background-color: #9fdad0;
  color: darkgreen;
  .container{
    margin-left: 10px;
    margin-right: 20px;
  }
  h1, .nav-menu { 
    display: inline-block; 
  }
  .nav-menu { 
    float: right;
    li {
      padding-right: 10px;
      display: inline-block; 
      :hover, .current {
        color: rgb(189, 123, 36);
      }
    } 
  }
  h2, div.social-links { display: none } 
}

section { display: none }

section.is-active{ display: block }

a, a:visited {
  text-decoration: none;
  color: inherit;
  } 
