*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; 
}

header h1, .social-links {
  a:hover {
    color: cadetblue;
    font-style: oblique;
  } 
}

body {
  background-color: #EEE;
}

header.is-active {
  height: 100%;
  width: 100%;
  position: absolute;
  .container {
    margin-left: 50px;
    padding-top: 15%;
    display: grid;
  }
  h2, div.social-links { display: block }
  .nav-menu { 
    float: none;
    li {
      border-bottom: 5px solid transparent; 
      :hover, .current { background-color: transparent }} 
  }
}

header {
  line-height: 1.5;
  background-color: #9fdad0;
  color: darkgreen;
  .container{
    margin-left: 10px;
    margin-right: 20px;
  }
  h1, .nav-menu { 
    display: inline-block; 
  }
  .nav-menu { 
    float: right;
    ul { display:flex }
    li {
      padding: 0px 8px;
      display: inline-block; 
      line-height: calc(300% - 5px);
    }
    li:hover {
      color: rgb(189, 123, 36);
      border-bottom: 5px solid #1c7d32;
    } 
    li:has(.current) {
      color: aliceblue;
      background-color: rgb(189, 123, 36);
      border-bottom: 5px solid rgb(189, 123, 36);
    }
  }
  h2, div.social-links { display: none } 
}

section { display: none }

section.is-active { display: block }

a, a:visited {
  text-decoration: none;
  color: inherit;
  } 
